body {
  background-color: #b0b0b0;
}

#myCanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10%; /* This is half the width */
  margin-top: -10%; /* This is half the height */
}
